
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --primary-color: rgb(26, 26, 26);
    --second-color: rgb(19, 18, 18);
    --overview-color: rgba(19,18,18,0.85);
    --blue-color:rgb(152, 198, 241);
}

::placeholder{
    color: rgb(241, 241, 241);
    text-indent: 18px;
}


    .watchFont{
        font-style: bold;
         border-radius:15px;
         margin: 13px;
         padding: 3px 11px; 
         color:rgb(255, 37, 21);
         border: solid 0.1px  ;
         background-color: var(--primary-color);
     }
    


body{
    background-color: var(--primary-color);
    font-family: 'Candara';
    margin:0;
    color: white;
}


header{
    background-color: var(--second-color);
    display: flex;
    justify-content: space-between;

}

.topMovies{

margin-top: 10px;

}

header .pesquisa{
    background-color: transparent;
    border: 1px solid rgba(241, 241, 241, 0.767);
    border-radius: 15px;
    font-size: 19px;
    font-family: "Candara";
    font-weight:bold;
    color: rgb(241, 241, 241);
} 

.form{
    padding: 18px;
    display: flex;
    justify-content: flex-end;
}


#selectCountry {
    max-height: 35px;
    margin-left: 40px;
    margin-top:15px;
    align-content: center;
    background-color: transparent;
    color:white;
    font-size: 20px;
    border: 1.3px solid var(--primary-color);
    margin-right: 25px;
}

.leftOptions{
    display: flex;
}

#selectCountry option{
    font-size: 24px;

}

.watch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: -8px ;
}

.watchFont{
   font-style: bold;
    border-radius:15px;
    margin: 13px;
    padding: 3px 11px; 
    color:rgb(152, 198, 241);
    border: solid 0.1px  ;
    background-color: var(--primary-color);
}

.watchFont:hover{
    background-color: var(--blue-color);
    color:rgb(2, 2, 2);
}
#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
width: 300px;
margin:10px;
border-radius: 3px;
background-color: var(--second-color);
box-shadow: 0px 0.1px 2px    rgb(70, 69, 69);
position:relative;
overflow: hidden;
}

.movie img{
width:100%;
}

.movieInfo{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 22px 1px;
    
}
.titleMovie{
    margin-top: 0;
}
.rating{
    font-family: 'Poppins',  sans-serif;
    font:bold;
    padding: 4px 4px;
    margin-top: -12px;
    font-weight: bold;
    font-size:20px;
    background-color: var(--primary-color);
    color:white;
}

.overview{
    position: absolute;
    padding: 15px;
    font-size: 23px;
    left:0;
    right:0;
    bottom: 50px;
    background-color: var(--overview-color); 
    transform: translateY(110%);
    max-height: 100%;
    transition: transform 0.4s ease-in;
}

.overview h2{
    color:rgb(43, 255, 0);
    text-align: center;
}

.movie:hover .overview{
    transform: translateY(0%);
}

.green{
    color:rgb(82, 255, 47);
}

.red{
    color:red;
}

.orange {
    color:rgb(243, 187, 5);
}